:root {
  --brand-color: #8d3648;
  --dark-bg: #282828;
  --light-bg: #fffdfa;
  --text-dark: #000000;
  --text-light: #ffffff;
  --font-heading: 'New Rocker', cursive;
  --font-body: 'Montserrat Alternates', sans-serif;
}
html, body {
  overflow-x: hidden;   /* забороняє горизонтальний скрол */
  width: 100%;          /* гарантує, що тіло не ширше за екран */
}

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #fffdfa;
  color: #000000;
  font-size: 14px;
}
/*advertiser line*/
.event-marquee{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #282828;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1000;
}
.event-marquee span {
  display: inline-block;
  padding-left: 100%;
  font-size: 10px; !important;
  -webkit-text-size-adjust: none;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

.page-wrapper {
  max-width: 440px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container {
  padding: 0 16px;
}

section {
  padding: 40px 0;
  position: relative;
}

h1, h2, h3 {
  font-family: 'New Rocker', cursive;
  color: #8d3648;
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background-color: #282828;
  position: relative;
  border: 1px solid transparent; /* Placeholder for alignment */
}
/**/
.cta-button::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px dashed #ffffff;
  border-radius: 26px;
}

/* CSS from section:header */
.site-header {
  padding: 22px 0;
  position: absolute;
  width: 100%;
  max-width: 440px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: -25px;
}
.menu-button img {
  width: 60px;
  height: 55px;
}
.logo img {
  width: 183px;
  height: auto;
}

/* CSS from section:hero */
.hero-section {
  padding-top: 100px;
  padding-bottom: 50px;
}
.hero-container {
  position: relative;
}
.hero-text {
  position: relative;
  top: 22px;
  left: 4px;
}
.hero-title {
  position: relative;
  top: 22px;
  left: 4px;
  font-size: 48px;
  line-height: 1.1;
}
.title-grand {
  position: relative;
  top: -58px;
  left: 60px;
  display: block;
  font-size: 48px;
  margin-bottom: -15px;
}
.title-main {
  position: relative;
  top: -58px;
  left: -8px;
  display: block;
  font-size: 48px;
  margin-bottom: -15px;
}
.hero-subtitle {
  position: relative;
  top: -13px;
  right: 4px;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 24px;
}
.hero-subtitle .bold {
  font-weight: 400;
  font-size: 24px;
  font-family: 'New Rocker', Georgia, serif;
  color: #8D3648;
}
.hero-subtitle .child2 {
  font-weight: 500;
}
.hero-image {
  position: absolute;
  top: 12%;
  right: -2%;
  width: 67%;
  z-index: auto;
}
.hero-cta-wrapper {
  margin-top: 10%;
  padding: 15px 0;
}
.cta-subtext {
  text-align: center;
  font-size: 14px;
  margin-top: 12px;
}
.ps-note {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ps-image {
  width: 119px;
  flex-shrink: 0;
  position: relative;
  top: 2px;
  right: 4px;
}
.ps-text {
  font-size: 13px;
  font-weight: 500;
}
.event-icon-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    left: -10%;
}
.event-info-container {
    padding: 28px 53% 28px 28px;
    margin-left: -4%
}

.event-info-item {
    display: flex;
    align-items: center;
    margin-bottom: -3px;
    margin-right: 3px;
}

.event-info-item:last-child {
    margin-bottom: 0;
}

.event-icon {
    width: 32px;
    height: 32px;
    background: #8b4366;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

/* Calendar Icon */
.calendar-icon::before {
    content: '';
    width: 18px;
    height: 16px;
    background: #fff;
    border-radius: 2px;
    position: relative;
}

.calendar-icon::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 1px;
    background: #8b4366;
    box-shadow:
        0 3px 0 #8b4366,
        0 6px 0 #8b4366;
}

/* Location Icon */
.location-icon::before {
    content: '';
    width: 12px;
    height: 16px;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
}

.location-icon::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background: #8b4366;
    border-radius: 50%;
}

/* People Icon */
.people-icon::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}

.people-icon::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 8px;
}

.people-icon {
    position: relative;
}

.people-icon .body-group {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 10px;
    background: #fff;
    border-radius: 8px 8px 2px 2px;
}

.event-text {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.9;
}

/* CSS from section:about */
.about-section {
  padding-top: 10px;
}
.about-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
  top: -16px;
  right: -6px;
}
.about-title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  position: relative;
  top: -5px;
  right: -25px;
}
.about-title-logo {
  width: 196px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feature-image-wrapper {
  position: relative;
  width: 117px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
.feature-bg-img {
  position: absolute;
  z-index: 2;
}
.feature-icon-svg {
  position: absolute;
  z-index: 1;
}
.feature-icon-svg {
  width: 90px;
  height: 90px;
}
.feature-text h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-bottom: 7px;
}
.feature-text p {
  font-size: 14px;
  font-weight: 400;
}

/* CSS from section:highlights */
.highlights-section {
  padding-top: 30px;
}
.highlights-container {
  position: relative;
}
.section-title {
  text-align: center;
  font-size: 48px;
}
.highlights-bg-img {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  z-index: -1;
}
.highlights-subtitle {
  font-weight: 600;
  font-size: 14px;
  margin-top: -10px;
  margin-left: 30px;
  margin-bottom: 190px;
}
.highlights-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 20px;
}
.highlight-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.highlight-item img {
  width: 53px;
  flex-shrink: 0;
}
.highlight-item p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
}
.highlight-item p strong {
  font-weight: 600;
}
.highlight-item p br {
  content: "";
  display: block;
  margin: 2px 0;
}
.highlights-summary {
  text-align: center;
  font-size: 13px;
  line-height: 1.3;
  margin: 33px 0 40px;
}
.highlights-summary strong {
  font-weight: 600;
}

/* CSS from section:ticket */
.ticket-section {
  padding-top: 0;
}
.guest-intro {
  position: relative;
  text-align: center;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guest-intro img {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 355px;
  height: 100%;
  z-index: 1;
}
.guest-intro p {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  top: 7px;
  left: -67px;
  z-index: 2;
}
.guest-image-wrapper {
  position: relative;
  height: 221px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-img-bg, .guest-img-main, .guest-img-mirror {
  position: absolute;
}
.guest-img-bg {
  width: 100%;
  height: auto;
  top: 45%;
  left: 40%;
  transform: translate(-40%, -50%);
}
.guest-img-main {
  width: 214px;
  height: 221px;
  top: -30px;
  left: 77%;
  transform: translateX(-45%);
}
.guest-img-mirror {
  width: 67px;
  height: 73px;
  top: 29px;
  left: 66%;
  transform: translateX(-130%) rotate(-7.9deg);
}
.guest-description {
    margin-top: 3rem;
    max-width: 100%;
    margin-right: auto;
}

.guest-description-item {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    line-height: 100%;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0 2rem;
}

.guest-description-item:first-child {
    font-weight: 500;
}

.ticket-form-container {
  margin-top: 20px;
  text-align: center;
}
.ticket-title {
  font-size: 48px;
  text-align: center;
}
.ticket-subtitle {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.ticket-form-wrapper {
  margin-top: -61px;
  padding: 61px 0 69px;
  background-size: contain;
  height: 300px;
  position: relative;
  width: 100%;
}
.ticket-form {
  position: relative;
  left: 19%;
  top: -112%;
  max-width: 61%;
}
.form-group {
  text-align: left;
  margin-bottom: 5px;
}
.ticket-info-main{
  position: relative;
  top: 10px;
}
.ticket-info {
  text-align: center;
  font-size: 95%;
  line-height: 100%;
  font-weight: 600;
  margin: 10px 0;
}
.ticket-info .bold {
  font-weight: 400;
}
.ticket-info:last-of-type .bold {
  font-weight: 400;
}
.form-group label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 3px;
  padding-left: 10px;
}
label {
  color: #000; /* основний колір тексту */
}

label span.required {
  color: red;
}
.form-group input {
  width: 100%;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 20px;
  box-sizing: border-box;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 10%;
}
.price-label {
  font-family: 'New Rocker', Georgia, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  left: 24%;

}
.price-label-2 {
  font-family: 'New Rocker', Georgia, serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  left: 15%;
  top: 3px;
}
.form-group input {
  width: 100%;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input.input-error {
  border: 2px solid #ff0000;
  background-color: rgba(255, 0, 0, 0.05);
}

.form-group input.input-valid {
  border: 2px solid #00c851;
}

/* === Promo Code Field === */
.promo-group {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.promo-group label {
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  color: #000;
  width: 170px;
}

.promo-group input {
  width: 100%;
  height: 35px;
  border-radius: 40px;
  border: 1px dashed #000;
  background-color: transparent;
  padding: 0 18px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.promo-group input:focus {
  border-color: #ff80b0;
  outline: none;
}

.promo-group .error-message {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  display: none;
}


/***************************button version 2********************************/
.submit-button {
  background: #8d3648;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 14px 83px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  left: -24%;
  top: 50px;
  margin-bottom: 10px;
  transform: translateX(-50%);
  animation: pulse 2s infinite;
  transition: transform 0.2s ease;
}

/*@keyframes pulse {*/
/*  0% { box-shadow: 0 0 0 0 rgba(255, 0, 128, 0.5); }*/
/*  70% { box-shadow: 0 0 0 15px rgba(255, 0, 128, 0); }*/
/*  100% { box-shadow: 0 0 0 0 rgba(255, 0, 128, 0); }*/
/*}*/

/*.submit-button:hover {*/
/*  transform: translateX(-50%) scale(1.07);*/
/*}*/

/* CSS from section:footer */
.site-footer {
  background-color: var(--dark-bg);
  color: var(--text-light);
  padding: 20px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.social-links {
  display: flex;
  gap: 16px;
  align-items: center;
}
.social-links a img {
  width: 25px;
  height: 20%;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-nav a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}
.copyright {
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
}

.menu-container {
  position: relative;
  display: inline-block;
}
/*********************Styles for dropdown menu******************************/
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 998;
}
.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}
.dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 20px;
}
.dropdown-menu.open {
  transform: translateY(0);
  opacity: 1;
}

.menu-item {
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.menu-item:active,
.menu-item:focus {
  background-color: #f5f5f5;
  color: #8d3648;
}
.social_links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
  padding: 10px 0 0;
}
.social_link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.05);
}
.social_link img {
  width: 24px;
  height: 24px;
}
.social_link:active {
  background-color: #edac4c;
  transform: scale(0.9);
}
.social_link:active img {
  filter: brightness(0) invert(1);
}
.menu-item {
  font-size: 15px;
  padding: 14px 16px;
}
.social_links {
  gap: 12px;
  padding: 12px 16px 0;
}
.social_link {
  width: 40px;
  height: 40px;
}
.social_link img {
  width: 20px;
  height: 20px;
}
/**************************footer-link***********************/
 .footer-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  margin: 20px 0;
}
.footer-nav a {
  color: #f3ecec;
  text-decoration: underline;
  opacity: .3;
}
/************************popup_for_rules_and_conditions*********************/
/***************style_popup_for_policy_and_refund*********************/
.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.popup-content.mobile {
  background: #D9D9D9;
  padding: 10px;
  border-radius: 24px;
  max-width: 90%;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  color: #000000;
}
.popup-content.mobile h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  line-height: 100%;
  color: #000000;
}
.popup-content.mobile li {
  text-align: left;
  color: #000000;
  position: relative;
  left: 40px;
}
.popup-content.mobile ol li {
  text-align: left;
  color: #000000;
  position: relative;
  left: -9px;
}
.popup-content.mobile ul {
  text-align: left;
  color: #000000;
  position: relative;
  right: 13px;
  top: -5px;
}
.popup-content.mobile p {
  text-align: left;
  color: #000000;
  padding: 2%;
}
.popup-content.mobile b {
  margin-top: 30px;
  margin-bottom: 30px;
}

.popup-close {
  display: block;
  margin: 20px auto 0;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 370px) {
  .hero-image {
    position: absolute;
    top: 12%;
    right: -4%;
    width: 70%;
    z-index: auto;
  }
  .price-label {
      font-family: 'New Rocker', Georgia, serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      position: relative;
      left: 15%;
    }
    .price-label-2 {
      font-family: 'New Rocker', Georgia, serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      position: relative;
      left: 6%;
      top: 3px;
    }
  .hero-subtitle {
    position: relative;
    top: 13px;
    right: 4px;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 13px;
    max-width: 68%;
  }
  .highlights-bg-img {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    z-index: -1;
  }
  .section-title {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    top: -15px;
  }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -7%;
    margin-left: 22px;
    margin-bottom: 64%;
  }
  .ticket-form {
    position: relative;
    left: 21%;
    top: -113%;
    max-width: 58%;
  }
  .hero-subtitle .bold {
    font-weight: 400;
    font-size: 24px;
    font-family: 'New Rocker', Georgia, serif;
    color: #8D3648;
    position: relative;
    top: 21px;
  }
  .submit-button {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 14px 83px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: -41%;
    top: 50px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    animation: pulse 2s infinite;
    transition: transform 0.2s ease;
  }
  .hero-cta-wrapper {
    margin-top: 18%;
    padding: 3px 0;
  }
  .title-grand {
    position: relative;
    top: -58px;
    left: 60px;
    display: block;
    font-size: 44px;
    margin-bottom: -15px;
  }
  .title-main {
    position: relative;
    top: -58px;
    left: -8px;
    display: block;
    font-size: 44px;
    margin-bottom: -15px;
  }
  .event-text {
    font-size: 12px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.9;
  }
  .event-info-container {
    padding: 46px 53% 0 24px;
    margin-left: -4%
  }
  .feature-text p {
    font-size: 13px;
    font-weight: 400;
  }
  .cta-subtext {
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
  }
  .guest-description-item {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
    line-height: 100%;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0 2rem;
  }
  .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}

@media (min-width: 371px) and (max-width: 375px) {
  .hero-image {
    position: absolute;
    top: 18%;
    right: -2%;
    width: 67%;
    z-index: auto;
  }
  .submit-button {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 14px 83px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: -34%;
    top: 50px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    animation: pulse 2s infinite;
    transition: transform 0.2s ease;
  }
  .event-text {
    font-size: 13px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.9;
  }
  .hero-subtitle {
    position: relative;
    top: 13px;
    right: 4px;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 13px;
    max-width: 68%;
  }
  .event-info-container {
    padding: 57px 53% 36px 24px;
    margin-left: -4%
  }
  .feature-text p {
    font-size: 13px;
    font-weight: 400;
  }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 3px;
    margin-bottom: 190px;
  }
  .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}
@media (min-width: 376px) and (max-width: 390px) {
  .hero-image {
      position: absolute;
      top: 17%;
      right: -2%;
      width: 67%;
      z-index: auto;
    }
  .submit-button {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 14px 83px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: -30%;
    top: 50px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    animation: pulse 2s infinite;
    transition: transform 0.2s ease;
  }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 190px;
  }
  .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}
@media (min-width: 391px) and (max-width: 400px) {
  .submit-button {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 14px 83px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: -30%;
    top: 50px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    animation: pulse 2s infinite;
    transition: transform 0.2s ease;
  }
  .hero-image {
      position: absolute;
      top: 17%;
      right: -2%;
      width: 67%;
      z-index: auto;
    }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 13px;
    margin-bottom: 190px;
  }
  .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}
@media (min-width: 410px) and (max-width: 420px) {
  .hero-image {
      position: absolute;
      top: 15%;
      right: -2%;
      width: 67%;
      z-index: auto;
    }
  .submit-button {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 14px 83px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: -28%;
    top: 50px;
    margin-bottom: 10px;
    transform: translateX(-50%);
    animation: pulse 2s infinite;
    transition: transform 0.2s ease;
  }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 21px;
    margin-bottom: 190px;
  }
  .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .hero-image {
      position: absolute;
      top: 2%;
      left: 41%;
      width: 55%;
      z-index: auto;
    }
  .hero-text {
      position: relative;
      top: 55px;
    }
  .logo img {
      width: 100%;
      height: auto;
      position: relative;
      right: -60%;
    }
  .menu-button img {
      width: 100px;
      height: 75px;
      position: relative;
      top: 4px;
      right: 123px;
    }
  .container {
      padding: 0 80px;
    }
  .highlights-subtitle {
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 135px;
    margin-bottom: 190px;
  }
  .event-info-container {
    padding: 28px 53% 28px 28px;
    margin-left: -1%
  }
  .highlights-summary {
      text-align: center;
      font-size: 13px;
      line-height: 1.3;
      margin: 50px 0 100px;
  }
  .cta-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 20px;
      border-radius: 30px;
      font-weight: 600;
      font-size: 16px;
      color: var(--text-light);
      background-color: var(--dark-bg);
      position: relative;
      border: 1px solid transparent; /* Placeholder for alignment */
      top: -95px;
    }
  .guest-intro img {
      position: absolute;
      top: -190%;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 100%;
      z-index: 1;
    }
    .guest-intro p {
      position: relative;
      font-weight: 600;
      font-size: 14px;
      top: -86px;
      left: -30px;
      z-index: 2;
    }
    .guest-description {
        margin-top: 9rem;
        max-width: 100%;
        margin-right: auto;
    }
    .submit-button {
      background: linear-gradient(90deg, #ff8c00, #ff0080);
      color: #fff;
      border: none;
      border-radius: 40px;
      padding: 14px 83px;
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
      position: relative;
      left: -5%;
      top: 60px;
      margin-bottom: 10px;
      transform: translateX(-50%);
      animation: pulse 2s infinite;
      transition: transform 0.2s ease;
    }
    .hero-title {
      position: relative;
      top: 35px;
      left: 4px;
      font-size: 48px;
      line-height: 1.1;
    }
    .hero-subtitle {
      position: relative;
      top: 2px;
      right: 4px;
      font-size: 16px;
      line-height: 1.2;
      margin-top: 24px;
    }
    .hero-cta-wrapper {
      margin-top: 33%;
      padding: 15px 0;
    }
    .cta-subtext {
      text-align: center;
      font-size: 16px;
      margin-top: -80px;
    }
    .ps-image {
      width: 145px;
      flex-shrink: 0;
      position: relative;
      top: 2px;
      right: 4px;
    }
    .ps-text {
      font-size: 15px;
      font-weight: 500;
    }
    .about-title-logo {
      width: 37%;
    }
    .feature-icon-svg {
      width: 82%;
      height: 114%;
    }
    .feature-text h3 {
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      margin-bottom: 7px;
    }
    .feature-text p {
      font-size: 16px;
      font-weight: 400;
    }
    .feature-image-wrapper {
      position: relative;
      width: 138px;
      height: 95px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 4px;
    }
    .highlight-item p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
    }
    .highlights-summary {
      text-align: center;
      font-size: 16px;
      line-height: 1.3;
      margin: -50px 0 125px;
    }
    .highlights-list {
      list-style: none;
      padding: 83px 10px;
      display: flex;
      flex-direction: column;
      gap: 26px;
      margin-left: 20px;
    }
    .highlights-bg-img {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
      width: 36%;
      z-index: -1;
    }
    .ticket-info {
      text-align: center;
      font-size: 100%;
      line-height: 100%;
      font-weight: 600;
      margin: 10px 0;
    }
    .ticket-title {
      font-size: 53px;
      text-align: center;
    }
    .guest-description-item {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 16px;
        line-height: 100%;
        color: #333;
        margin-bottom: 1.5rem;
        text-align: center;
        padding: 0 2rem;
    }
    .menu-overlay {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.3);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 998;
    }

    .menu-overlay.active {
      opacity: 1;
      visibility: visible;
    }

    .dropdown-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 90vh;
      background-color: #fff;
      border-radius: 0 0 16px 16px;
      transform: translateY(-100%);
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 999;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding-top: 80px;
      padding-bottom: 20px;
    }
    .price-label {
      font-family: 'New Rocker', Georgia, serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      position: relative;
      left: 34%;
    }
    .price-label-2 {
      font-family: 'New Rocker', Georgia, serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      position: relative;
      left: 25%;
      top: 3px;
    }

    .dropdown-menu.open {
      transform: translateY(0);
      opacity: 1;
    }
    .event-marquee{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #282828;
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      z-index: 1000;
    }
    .event-marquee span {
      display: inline-block;
      padding-left: 100%;
      font-size: 10px; !important;
      -webkit-text-size-adjust: none;
      animation: marquee 20s linear infinite;
    }
    @keyframes marquee {
      0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
    }
}

/***************************New page coming soon ***************************/
.hero-wrapper-soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hero-wrapper-soon * {
  box-sizing: border-box;
}

/* Секція з логотипом */
#hero-soon {
  padding: 9px 20px 0;
  background-color: #ffffff;
}

.hero-container-soon {
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
}

.hero-content-wrapper-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.logo-image-soon {
  width: 196px;
  height: 89px;
  display: block;
}

.logo-subtitle-soon {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 7px;
  color: #000000;
  text-align: center;
  margin: -25px 50px 75px 0;
}

/* Секція з контентом */
#girls-content {
  flex: 1;
  padding: 0 20px 30px;
  background-color: #ffffff;
}

.hero-container-soon-2 {
  max-width: 440px;
  margin: 0 auto;
}

.hero-content-wrapper-soon-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.hero-background-image-soon {
  width: 196px;
  height: 229px;
  display: block;
  margin-bottom: -62px;
}

.hero-subtitle-soon {
  font-family: 'Cormorant SC', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin: 0 0 -5px 0;
  z-index: 2;
  position: relative;
}

.hero-title-soon {
  font-family: 'Caprasimo', cursive;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin: 0 0 5px 0;
  line-height: 1;
  z-index: 2;
  position: relative;
}

.cta-button-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 305px;
  height: 59px;
  background-color: #7c2537;
  border-radius: 100px;
  text-decoration: none;
  z-index: 2;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.cta-button-soon:active {
  background-color: #7c2537;
  border: 1px solid #7c2537;
}

.cta-button-soon:active .cta-text-soon {
  color: #ffffff;
}

.cta-button-soon:active .cta-icon-soon {
  filter: none;
}

.cta-text-soon {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  transition: color 0.2s ease;
}

.cta-icon-soon {
  width: 32px;
  height: 32px;
  transition: filter 0.2s ease;
}

.site-footer-soon {
  background-color: #282828;
  color: #ffffff;
  padding: 30px 0;
  margin-top: auto;
}



